@import "../variables/variables.scss";

// header section
.header-section {
    background-color: $light-bg-color;
    padding-top: 20px;
    padding-bottom: 2px;

    .header-title {
        font-size: 21px;
        line-height: 1.2;
        color: $text-dark;
    }

    .header-para {
        margin-top: -5px;
        font-size: 13px;
        line-height: 1.5;
        color: $text-medium;
    }
}

// form section
.form-section {
    .form-container {
        .orders-form {
            padding: 32px;
            background-color: $light-bg-color-2;

            .single-input {
                padding: 3px 5px;
            }
            .double-input {
                .left-col {
                   padding: 3px 5px;
                }
                .right-col {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    padding-left: 5px;
                }
            }

            label {
                font-size: 13px;
                line-height: 1.3;
                color: $text-medium;
            }

            input, select {
                height: 36px;
                font-size: 13px;
                line-height: 1.3;
                color: $text-dark;

                &::placeholder {
                    color: $text-light-grey
                }

                &:hover, &:focus {
                    border: 1px solid $main-color;
                    box-shadow: none;
                }
            }

            .button-div {
                margin-top: 10px;
                display: flex;
                justify-content: flex-end;

                .btn {
                    font-size: 14px;
                }

                .resetBtn {
                    margin-right: 20px;
                    padding: 8px 40px;
                    border: none;
                    border-radius: 4px;
                    color: #F35053;

                    &:hover, &:focus {
                        box-shadow: none;
                    }
                }

                .submitBtn {
                    padding: 8px 40px;
                    border: none;
                    border-radius: 4px;
                    background-color: $main-color;
                    color: $text-light;

                    &:hover, &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

// tabs section
.tab-section {
    margin-top: 24px;
    position: relative;

    .tab-container {
        .nav-tabs {
           display: flex;
           justify-content: space-between;
           border: none;
           
           .nav-item {
              width: 200px;
              text-align: center;
              background-color: $light-bg-color-2;
              box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
              border-radius: 4px;
              border: 2px solid $light-bg-color-2;
              border-bottom: none;

              .nav-link {
                padding: 16px 0;
                  font-size: 13px;
                  line-height: 1.2;
                  color: $text-dark;

                  img {
                      margin-right: 10px;
                  }
              }
           }
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
              padding: 16px 0;
               background-color: $light-bg-color;
               border: 2px solid $main-color;
               border-bottom: none;
        }

        // tabs
        .tab-content {
            position: absolute;
            width: 100%;
            min-height: 350px;
            // top: 135px;
            left: 0;
            padding: 0 5%;
            padding-bottom: 100px;
            background-color: $light-bg-color-2;


            // search div
            .fixed-table-toolbar {
                margin: 16px 0 8px 0;
                padding: 0 12px;
                background: $light-bg-color;

                .search {
                    width: 240px;
                    height: 36px;
                    .search-input {
                        border: 1px solid $border;
                        font-size: 14px;
                        font-weight: normal;
                        color: $text-dark;

                        &::placeholder {
                            color: $text-light-grey;
                        }
                        &:hover, &:focus {
                            border: 1px solid $main-color;
                            box-shadow: none;
                        }
                    }
                }
            }

            .fixed-table-container {
                padding-bottom: 0 !important;
                border: none;
                .loading-wrap {
                    .loading-text {
                        font-size: 20px;
                        font-weight: 500;
                        color: $text-dark;
                    }
                }
                .both  {
                    margin-right: 10px;
                    background-image: url(../../media/supplier/orders/sort-both.svg);
                }
                .asc {
                    background-image: url(../../media/supplier/orders/unapproved-rfq.svg) !important;
                }
                .desc {
                    background-image: url(../../media/supplier/orders/sort-desc.svg) !important;
                }
                th {
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 1.38;
                    color: $text-light-grey;
                    text-transform: uppercase;
                    background-image: none;
                }
                td {
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 1.28;
                    outline-offset: $text-dark;
                }
                th, tr, td {
                    background: $light-bg-color;
                    border: 1.5px solid $light-bg-color-2;
                    border-bottom: 2px solid $light-bg-color-2;
                }
            }

            .fixed-table-pagination {
                height: auto;
                .pagination-detail {
                    .pagination-info {
                        display: none;
                    }
                    .page-list {
                        color: transparent;
                        cursor: default;
                        position: absolute;
                        top: 26px;
                        left: 6%;
                    }
                    .dropdown-toggle {
                        width: 56px;
                        height: 36px;
                        font-size: 13px;
                        font-weight: normal;
                        color: $text-dark;
                        background: $light-bg-color;
                        border: 1px solid $border;

                        &:hover, &:focus {
                            border: 1px solid $main-color;
                            box-shadow: none;
                        }
                    }
                }

                div.pagination {
                    .pagination {
                        li.page-item {
                           margin-left: 5px;
                           font-size: 13px;
                           font-weight: normal;
                           a {
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               height: 40px;
                               width: 40px;
                               border: 1px solid #EAEDF0;
                               border-radius: 3px;
                               color: $text-dark;
    
                               &:hover, &:focus {
                                   background-color: $light-bg-color;
                                   box-shadow: none;
                               }
                           }
                        }
    
                        .page-item.active .page-link {
                            background-color: $light-bg-color;
                            border: 1px solid #EAEDF0;
                            color: $main-color;
                        }
                    }
                }
            }



        }

    }
}