@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.awaiting-po-acceptance, .pending-for-quotation {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFF5C4;
  color: #DA920D !important;
}

.order-processing, .delivered {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #E6F4FD;
  color: #2B96DC;
}

.shipped, .under-review {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #F4F4F4;
  color: #ADADAD;
}

.under-resolution, .declined, .unapproved {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFE1DF;
  color: #F1373A;
}

.order-closed {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #D1F3CF;
  color: #3EB93B;
}

.head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
  text-transform: uppercase;
}

.return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.return a {
  color: #2A95DB;
}

small#error {
  color: #F1373A !important;
}

body {
  background-color: #F4F6F8;
}

.header-section {
  background-color: #ffffff;
  padding-top: 24px;
  height: 96px;
}

.header-section .header-container .header-title {
  font-size: 21px;
  line-height: 1.2;
  font-weight: medium;
  color: #333333;
}

.header-section .header-container .header-para {
  margin-top: -5px;
  font-size: 13px;
  line-height: 1.4;
  font-weight: normal;
  color: #333333;
  opacity: 0.6;
}

.overview-section {
  padding-top: 32px;
}

.overview-section .overview-container .overview-title {
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: medium;
  color: #333333;
}

.overview-section .overview-container .overview-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 23% 23% 23%;
      grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 24px;
}

.overview-section .overview-container .overview-grid div {
  padding: 12px 24px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.overview-section .overview-container .overview-grid div .grid-child-title {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  line-height: 1.5;
  color: #6E6E6F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview-section .overview-container .overview-grid div .grid-child-title .grid-child-span {
  font-size: 42px;
  font-weight: normal;
  color: #333333;
}

.sales-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.sales-section .sales-container .sales-title {
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: medium;
  color: #333333;
}

.sales-section .sales-container .sales-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
  grid-gap: 24px;
}

.sales-section .sales-container .sales-grid .sales-report-table, .sales-section .sales-container .sales-grid .sales-report-chart {
  padding: 24px 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 425px;
  overflow: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.sales-section .sales-container .sales-grid .sales-report-table::-webkit-scrollbar, .sales-section .sales-container .sales-grid .sales-report-chart::-webkit-scrollbar {
  display: none;
}

.sales-section .sales-container .sales-grid .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sales-section .sales-container .sales-grid .filter .fg1 {
  width: 140px;
}

.sales-section .sales-container .sales-grid .filter .form-group {
  margin-bottom: 24px;
}

.sales-section .sales-container .sales-grid .filter .form-group label {
  margin-right: 4px;
  font-size: 13px;
  font-weight: normal;
  color: #6E6E6F;
}

.sales-section .sales-container .sales-grid .filter .form-group select {
  padding: 5px 14px;
  height: 36px;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  background: #ffffff;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}

.sales-section .sales-container .sales-grid .filter .form-group select:hover, .sales-section .sales-container .sales-grid .filter .form-group select:focus {
  border: 1px solid #2A95DB;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.sales-section .sales-container .sales-grid .filter .form-group #year {
  width: 80px;
}

.sales-section .sales-container .sales-grid .filter .form-group #type {
  width: 168px;
}

.sales-section .sales-container .sales-grid table.table {
  background: #F4F6F8;
}

.sales-section .sales-container .sales-grid table.table thead th {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.38;
  color: #ADADAD;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

.sales-section .sales-container .sales-grid table.table tbody td {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
  border: 2px solid #ffffff;
}

.sales-section .sales-container .sales-grid table.table tfoot td {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  color: #333333;
  border: 2px solid #ffffff;
}
/*# sourceMappingURL=supplier-dashboard.css.map */