@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.awaiting-po-acceptance, .pending-for-quotation {
  border-radius: 100px;
  padding: 3px 5px;
  background: #FFF5C4;
  color: #DA920D;
}

.order-processing, .delivered {
  border-radius: 100px;
  padding: 3px 5px;
  background: #E6F4FD;
  color: #2B96DC;
}

.shipped, .under-review {
  border-radius: 100px;
  padding: 3px 5px;
  background: #F4F4F4;
  color: #ADADAD;
}

.under-resolution, .declined, .unapproved {
  border-radius: 100px;
  padding: 3px 5px;
  background: #FFE1DF;
  color: #F1373A;
}

.header-section {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 2px;
}

.header-section .header-title {
  font-size: 21px;
  line-height: 1.2;
  color: #333333;
}

.header-section .header-para {
  margin-top: -5px;
  font-size: 13px;
  line-height: 1.5;
  color: #6E6E6F;
}

.form-section .form-container .orders-form {
  padding: 32px;
  background-color: #F4F6F8;
}

.form-section .form-container .orders-form .single-input {
  padding: 3px 5px;
}

.form-section .form-container .orders-form .double-input .left-col {
  padding: 3px 5px;
}

.form-section .form-container .orders-form .double-input .right-col {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.form-section .form-container .orders-form label {
  font-size: 13px;
  line-height: 1.3;
  color: #6E6E6F;
}

.form-section .form-container .orders-form input, .form-section .form-container .orders-form select {
  height: 36px;
  font-size: 13px;
  line-height: 1.3;
  color: #333333;
}

.form-section .form-container .orders-form input::-webkit-input-placeholder, .form-section .form-container .orders-form select::-webkit-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .orders-form input:-ms-input-placeholder, .form-section .form-container .orders-form select:-ms-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .orders-form input::-ms-input-placeholder, .form-section .form-container .orders-form select::-ms-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .orders-form input::placeholder, .form-section .form-container .orders-form select::placeholder {
  color: #ADADAD;
}

.form-section .form-container .orders-form input:hover, .form-section .form-container .orders-form input:focus, .form-section .form-container .orders-form select:hover, .form-section .form-container .orders-form select:focus {
  border: 1px solid #2A95DB;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-section .form-container .orders-form .button-div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-section .form-container .orders-form .button-div .btn {
  font-size: 14px;
}

.form-section .form-container .orders-form .button-div .resetBtn {
  margin-right: 20px;
  padding: 8px 40px;
  border: none;
  border-radius: 4px;
  color: #F35053;
}

.form-section .form-container .orders-form .button-div .resetBtn:hover, .form-section .form-container .orders-form .button-div .resetBtn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-section .form-container .orders-form .button-div .submitBtn {
  padding: 8px 40px;
  border: none;
  border-radius: 4px;
  background-color: #2A95DB;
  color: #ffffff;
}

.form-section .form-container .orders-form .button-div .submitBtn:hover, .form-section .form-container .orders-form .button-div .submitBtn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab-section {
  margin-top: 24px;
  position: relative;
}

.tab-section .tab-container .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}

.tab-section .tab-container .nav-tabs .nav-item {
  width: 200px;
  text-align: center;
  background-color: #F4F6F8;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
  border: 2px solid #F4F6F8;
  border-bottom: none;
}

.tab-section .tab-container .nav-tabs .nav-item .nav-link {
  padding: 16px 0;
  font-size: 13px;
  line-height: 1.2;
  color: #333333;
}

.tab-section .tab-container .nav-tabs .nav-item .nav-link img {
  margin-right: 10px;
}

.tab-section .tab-container .nav-tabs .nav-item.show .nav-link, .tab-section .tab-container .nav-tabs .nav-link.active {
  padding: 16px 0;
  background-color: #ffffff;
  border: 2px solid #2A95DB;
  border-bottom: none;
}

.tab-section .tab-container .search-section {
  background-color: #F4F6F8;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 16px 5% 5px 5%;
}

.tab-section .tab-container .search-section .search-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border: 2px solid #F4F6F8;
}

.tab-section .tab-container .search-section .search-container .search-select select {
  width: 50px;
  height: 36px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: normal;
  -webkit-columns: #333333;
          columns: #333333;
  border: 1px solid #F4F6F8;
}

.tab-section .tab-container .search-section .search-container .search-select select:hover, .tab-section .tab-container .search-section .search-container .search-select select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab-section .tab-container .search-section .search-container .search-box input.search {
  height: 36px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: #333333;
  border: 1p solid #F4F6F8;
}

.tab-section .tab-container .search-section .search-container .search-box input.search::-webkit-input-placeholder {
  color: #ADADAD;
  font-weight: normal;
}

.tab-section .tab-container .search-section .search-container .search-box input.search:-ms-input-placeholder {
  color: #ADADAD;
  font-weight: normal;
}

.tab-section .tab-container .search-section .search-container .search-box input.search::-ms-input-placeholder {
  color: #ADADAD;
  font-weight: normal;
}

.tab-section .tab-container .search-section .search-container .search-box input.search::placeholder {
  color: #ADADAD;
  font-weight: normal;
}

.tab-section .tab-container .search-section .search-container .search-box input.search:hover, .tab-section .tab-container .search-section .search-container .search-box input.search:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab-section .tab-container .tab-content {
  position: absolute;
  width: 100%;
  min-height: 350px;
  top: 135px;
  left: 0;
  padding: 0 5%;
  background-color: #F4F6F8;
}

.tab-section .tab-container .tab-content .table {
  background-color: #ffffff;
}

.tab-section .tab-container .tab-content .table thead {
  border-bottom: 5px solid #F4F6F8;
}

.tab-section .tab-container .tab-content .table thead th {
  font-size: 11px;
  font-weight: normal;
  line-height: 1.3;
  color: #ADADAD;
  text-transform: uppercase;
}

.tab-section .tab-container .tab-content .table th, .tab-section .tab-container .tab-content .table td {
  border: 2px solid #F4F6F8;
}

.tab-section .tab-container .tab-content .table tbody th, .tab-section .tab-container .tab-content .table tbody td {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
}

.tab-section .tab-container .tab-content .table tbody th a, .tab-section .tab-container .tab-content .table tbody td a {
  color: #2A95DB;
}

.tab-section .tab-container .tab-content .table tbody .status {
  font-size: 11px;
  line-height: 1.1;
  width: 150px;
}

.tab-section .tab-container .tab-content .table-pagination {
  background-color: #F4F6F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tab-section .tab-container .tab-content .table-pagination .pagination li.page-item {
  margin-left: 5px;
  font-size: 13px;
  font-weight: normal;
}

.tab-section .tab-container .tab-content .table-pagination .pagination li.page-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #EAEDF0;
  border-radius: 3px;
  color: #333333;
}

.tab-section .tab-container .tab-content .table-pagination .pagination li.page-item a:hover, .tab-section .tab-container .tab-content .table-pagination .pagination li.page-item a:focus {
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab-section .tab-container .tab-content .table-pagination .pagination .page-item.active .page-link {
  background-color: #ffffff;
  border: 1px solid #EAEDF0;
  color: #2A95DB;
}
/*# sourceMappingURL=supplier-orders.css.map */