@import "../variables/variables.scss";

body {
    background-color: $light-bg-color-2;
}

// header section
.header-section {
    background-color: $light-bg-color;
    padding-top: 24px;
    height: 96px;
    
    .header-container {
         // width: 82%;

         .header-title {
              font-size: 21px;
              line-height: 1.2;
              font-weight: medium;
              color: $text-dark;
         }

         .header-para {
              margin-top: -5px;
              font-size: 13px;
              line-height: 1.4;
              font-weight: normal;
              color: $text-dark;
              opacity: 0.6;
         }
    }
}

// wizard

.icon-list {
     list-style: none;
     display: flex;
     justify-content: space-around;

     .icon-list-item {
          position: relative;
          height: 40px;
          width: 40px;

          &:after {
               position: absolute;
               width: 245px;
               content: '';
               border-top: 2px solid $border;
               top: 60%;
               left: 48px;
          }

          &:last-child::after {
               content: none;
          }

     }

     .active {
          img {
               display: block;
               -moz-box-sizing: border-box;
               box-sizing: border-box;
               background: url(../../media/supplier/profile-info/active-tab-icon.svg) no-repeat;
               width: 70px; /* Width of new image */
               height: 70px; /* Height of new image */
               padding-left: 70px; /* Equal to width of new image */
          }
     }
     .done {
          img {
               display: block;
               -moz-box-sizing: border-box;
               box-sizing: border-box;
               background: url(../../media/supplier/profile-info/done-tab-icon.svg) no-repeat;
               width: 70px; /* Width of new image */
               height: 70px; /* Height of new image */
               padding-left: 70px; /* Equal to width of new image */
          }
          &:after {
               border-top: 2px solid #00C389;
          }
     }
}