@import "../../variables/variables.scss";

body {
    background-color: $light-bg-color-2;
    min-height: 100vh;
}

// header section
.header-section {
    background-color: $light-bg-color;
    height: auto;
    
    .header-container {
        position: relative;
        height: 120px;
         // width: 82%;
         .header-title {
             padding-top: 30px;
              font-size: 21px;
              line-height: 1.2;
              font-weight: medium;
              color: $text-dark;
         }


         .search-form {
             margin-top: -30px;
             float: right;
             border: 1px solid $border;
             border-radius: 3px;
             input {
                 border: none;
                 box-shadow: none;
                 font-size: 14px;
                 font-weight: normal;
                 color: $text-dark;

                 &::placeholder {
                     color: $text-light-grey;
                 }
             }

         }



         .nav-tabs {
            position: absolute;
            bottom: 0;
             display: flex;
             border-bottom: none;
             
             .nav-item {
                  text-align: center;
                  border-bottom: none;
                  margin-right: 40px;
                  font-size: 14px;
                  font-weight: normal;
                  a {
                       padding: 0;
                       color: $text-dark;
        
                       &:hover {
                            border: 1px solid $light-bg-color;
                            box-shadow: none;
                            outline: none;
                       }
                  }
                  .active {
                       background: $light-bg-color;
                       border: 1px solid $light-bg-color;
                       border-bottom: 2px solid $main-color;
        
                       &:hover {
                        border: 1px solid $light-bg-color;
                        border-bottom: 2px solid $main-color;
                       }
                  }
             }
        
        }         

    }
}

// wizard

// tab content
.tab-content {
    margin: 20px 0 50px 0;
    
    .duration-select-form {
        margin-bottom: 36px;
        label {
            font-size: 13px;
            font-weight: normal;
            line-height: 1.4;
            color: $text-dark;

            span {
                margin-right: 2px;
                font-weight: 500;
            }
        }
        select {
            margin-left: 10px;
            width: 160px;
            height: 36px;
            font-size: 14px;
            font-weight: normal;
            color: $text-dark;
            border-radius: 1px solid $border;

            &:hover, &:focus {
                border: 1px solid $main-color;
                box-shadow: none;
            }
        }
    }

    // order div

    .quotes-list-div {
        .quote-div {
            margin-bottom: 32px;
            padding: 22px;
            height: 296px;
            background: $light-bg-color;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            display: flex;

                .status-col {
                    width: 223px;
                    position: relative;
                   &:after {
                       position: absolute;
                       content: '';
                       height: 296px;
                       border: .5px solid $border;
                       top: -22px;
                       right: 0;
                   }
                   .quote-status-div {
                       height: 72px;
                       display: flex;

                       // proress bar
                       .icon-div {
                            .icon {
                                margin-top: -10px;
                            }
                            width: 30px;
                            transition: all .2s ease-in-out;
                            position: absolute;
                            &:after {
                            transition: all .2s ease-in-out;
                            position: absolute;
                            height: 64px;
                            content: '';
                            border-right: 2px solid $border;
                            top: 16px;
                            left: 8px;
                            transform: translatex(-50%);
                            }
                        }

                        .done {
                            transition: all .3s ease-in-out;
                            .icon {
                                margin-top: 0px;
                            }
                            img {
                            display: block;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            background: url(../../../media/consumer/quotes/side-icons/1.3-status.svg) no-repeat;
                            width: 0px; /* Width of new image */
                            height: 30px; /* Height of new image */
                            padding-left: 40px; /* Equal to width of new image */
                            }
                            &:after {
                            border-right: 2px solid #00C389 !important;
                            }
                            }

                        .current {
                            .icon {
                                margin-top: 0px;
                            }
                            transition: all .3s ease-in-out;
                            img {
                            display: block;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            background: url(../../../media/consumer/quotes/side-icons/1.2-status.svg) no-repeat;
                            width: 0px; /* Width of new image */
                            height: 30px; /* Height of new image */
                            padding-left: 40px; /* Equal to width of new image */
                            }
                            }


                        .icon-div-last {
                            &:after {
                                content: none;
                            }
                        }

                   }
                   .text-div {
                       margin-left: 30px;
                       h6.header {
                           margin: 0;
                           font-size: 13px;
                           font-weight: normal;
                           line-break: 1.3;
                           color: $text-dark;
                       }
                       p.date {
                           margin: 0;
                           @extend h6.header;
                           color: $text-light-grey;
                       }
                   }
                }

                // details col
                .details-col {
                    flex: 4.5;
                    padding-left: 20px;
                    .upper-div {
                        padding-bottom: 20px;
                        position: relative;
                        display: flex;
                        justify-content: space-between;

                        .text-col {
                            display: flex;
                            justify-content: space-between;
                            width: 240px;
                            p.header {
                                margin: 0;
                                font-size: 13px;
                                font-weight: 500;
                                line-break: 1.38;
                                color: $text-medium;
                            }
                            p.para {
                                margin: 0;
                                @extend p.header;
                                color: $text-light-grey;
                                a {
                                    color: $main-color;
                                }
                                img {
                                    margin-left: 4px;
                                }
                            }
                            .div-1{
                                flex: 2;
                            }
                            .div-2, .div-3{
                                flex: 1;
                            }

                        }

                        .button-col {
                            justify-content: flex-end;
                            .chat-btn, .share-btn {
                                margin-left: 8px;
                                width: 120px;
                                height: 36px;
                                background: $light-bg-color;
                                font-size: 14px;
                                font-weight: 500;
                                color: $main-color;
                                opacity: 0.89;
                                border: 1px solid $border;
                                box-shadow: none;
                                span {
                                    padding: 0 4px;
                                    font-size: 10px;
                                    background: $text-red;
                                    color: $text-light;
                                    border-radius: 2px;
                                }
                            }
                            .order-details-btn {
                                margin-left: 12px;
                                float: right;
                                width: 160px;
                                height: 36px;
                                background: $main-color;
                                font-size: 14px;
                                font-weight: 500;
                                color: $text-light;
                                opacity: 0.89;
                                border: none;
                                box-shadow: none;
                            }
                        }

                        &:after{
                            content: '';
                            position: absolute;
                            border-bottom: 1px solid $border;
                            width: 105.1%;
                            left: -20px;
                            bottom: 0;
                        }
                        
                    }

                    // lower div
                    .lower-div {
                        padding-top: 20px;
                        display: flex;
                        .text-col {
                            flex: 1;
                            .header {
                                margin: 0 0 16px 0;
                                font-size: 16px;
                                font-weight: 500;
                                line-break: 1.2;
                                color: $text-dark;
                                img {
                                    margin-right: 8px;
                                }
                            }

                            .part-list-div {
                                display: flex;
                                max-width: 400px;
                                overflow: scroll;
                                .list {
                                    display: flex;
                                    .part-div {
                                        margin-right: 12px ;
                                        padding: 17px;
                                        display: flex;
                                        width: 200px;
                                        border: 1px solid $border;
                                        border-radius: 3px;
                                        .img {
                                            margin-right: 8px;
                                        }
                                        .details {
                                            p.part-name {
                                                margin: 0;
                                                font-size: 13.5px;
                                                font-weight: 500;
                                                line-height: 1.2;
                                                color: $text-dark;
                                            }
                                            p.process-name {
                                                @extend p.part-name;
                                                color: $text-medium;
                                            }
                                        }
                                    }
                                }
                                .see-more-div {
                                    padding: 17px;
                                    min-width: 115px !important;
                                    height: 68px;
                                    border: 1px solid $border;
                                    border-radius: 3px;
                                    p.header {
                                        margin: 0;
                                        font-size: 13.5px;
                                        font-weight: 500;
                                        line-height: 1.2;
                                        color: $text-medium;
                                    }
                                    p.see-all-link {
                                        margin: 0;
                                        font-size: 13px;
                                        font-weight: normal;
                                        a {
                                            color: $main-color;
                                        }
                                    }
                                }
                            }
                        }

                        // btn col
                        .button-col {
                            flex: 1;
                            .shipping-days-checkbox {
                                display: flex;
                                justify-content: space-between;
                              }
                          
                              .checkbox-alias{
                                border: 1px solid $light-bg-color-2;
                                background: $light-bg-color;
                                border-radius: 5px;
                                display: flex;
                                justify-content: left;
                                width: 130px;
                                height: 110px;
                                padding: 12px 8px;
                                position: relative;
                                transition: all 0.2s ease-out;
                                cursor: pointer;
                                box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
                                
                                .border-icon {
                                    position: absolute;
                                    top: -12px;
                                    left: -11px;
                                    display: none;
                                }  
                              }
                              
                              .shipping-days-checkbox-text {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                .price {
                                  font-size: 20px;
                                  font-weight: 500;
                                  color: $text-dark;
                                }
                                img {
                                  padding: 10px 0;
                                }
                                .days-count {
                                  font-size: 12px;
                                  font-weight: 600;
                                  line-height: 1.3;
                                  color: $text-medium;
                                }
                                .shipped-date {
                                  @extend .days-count;
                                  margin-top: 4px;
                                  font-weight: normal;
                                  color: $text-light-grey;
                                }
                              }
                              
                              .shipping-days-checkbox input[type=checkbox]{
                               display: none;
                              }
                              
                              .shipping-days-checkbox input[type=checkbox]:checked + .checkbox-alias{
                                border: 2px solid $main-color;
                                .border-icon {
                                     display: block;
                                }
                              }


                            //   awating div 
                            .awaiting-div {
                                padding: 20px;
                                background: $light-bg-color-2;
                                max-height: 152px;
                                max-width: 384px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                text-align: center;

                                img {
                                    margin-top: 20px;
                                }
                                h6.awaiting-head {
                                    margin: 0;
                                    margin-top: 4px;
                                    font-size: 13px;
                                    font-weight: 500;
                                    line-height: 1.38;
                                    color: $text-medium;
                                }
                                p.awaiting-para {
                                    margin: 0;
                                    margin-top: 4px;
                                    @extend h6.awaiting-head;
                                }
                            }
                              

                        }

                    }
                }
        }
    }

}