@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.awaiting-po-acceptance, .pending-for-quotation {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFF5C4;
  color: #DA920D !important;
}

.order-processing, .delivered {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #E6F4FD;
  color: #2B96DC;
}

.shipped, .under-review {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #F4F4F4;
  color: #ADADAD;
}

.under-resolution, .declined, .unapproved {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFE1DF;
  color: #F1373A;
}

.order-closed {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #D1F3CF;
  color: #3EB93B;
}

.head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
  text-transform: uppercase;
}

.return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.return a {
  color: #2A95DB;
}

small#error {
  color: #F1373A !important;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content {
  max-width: 522px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 3px;
}

.modal-body {
  padding: 50px 50px 20px 50px;
}

.modal-body img {
  margin-bottom: 24px;
}

.modal-body h3 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: medium;
  line-height: 1.2;
  color: #333333;
}

.modal-body p {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #6E6E6F;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-footer button.modalDoneBtn {
  padding: 8px 27px;
  height: 36px;
  background-color: #2A95DB;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
}

.modal-footer button.modalDoneBtn:hover, .modal-footer button.modalDoneBtn:focus {
  outline: none;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  background: #2A95DB;
}

.big-modal {
  max-width: 100%;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 3px;
}

.big-modal .modal-header {
  padding: 20px 40px 10px 40px;
}

.big-modal .modal-header h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: #333333;
}

.big-modal .modal-header button.close:hover, .big-modal .modal-header button.close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.big-modal .modal-body {
  padding: 40px;
  text-align: left;
}

.big-modal .modal-body .modal-body-head {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #333333;
}

.big-modal .modal-body form.form label {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #6E6E6F;
}

.big-modal .modal-body form.form input, .big-modal .modal-body form.form select, .big-modal .modal-body form.form textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.big-modal .modal-body form.form input::-webkit-input-placeholder, .big-modal .modal-body form.form select::-webkit-input-placeholder, .big-modal .modal-body form.form textarea::-webkit-input-placeholder {
  color: #ADADAD;
}

.big-modal .modal-body form.form input:-ms-input-placeholder, .big-modal .modal-body form.form select:-ms-input-placeholder, .big-modal .modal-body form.form textarea:-ms-input-placeholder {
  color: #ADADAD;
}

.big-modal .modal-body form.form input::-ms-input-placeholder, .big-modal .modal-body form.form select::-ms-input-placeholder, .big-modal .modal-body form.form textarea::-ms-input-placeholder {
  color: #ADADAD;
}

.big-modal .modal-body form.form input::placeholder, .big-modal .modal-body form.form select::placeholder, .big-modal .modal-body form.form textarea::placeholder {
  color: #ADADAD;
}

.big-modal .modal-body form.form input:hover, .big-modal .modal-body form.form input:focus, .big-modal .modal-body form.form select:hover, .big-modal .modal-body form.form select:focus, .big-modal .modal-body form.form textarea:hover, .big-modal .modal-body form.form textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2A95DB;
}

.big-modal .modal-footer {
  padding: 20px 40px 20px 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.big-modal .modal-footer button {
  height: 36px;
  width: 116px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  border: none;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
}

.big-modal .modal-footer .backBtn {
  margin-right: 10px;
  width: 50px;
  background-color: initial;
  color: #6E6E6F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#newAddressModal label {
  margin-bottom: -2px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #6E6E6F;
}

#newAddressModal input, #newAddressModal select, #newAddressModal textarea {
  height: 36px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#newAddressModal input::-webkit-input-placeholder, #newAddressModal select::-webkit-input-placeholder, #newAddressModal textarea::-webkit-input-placeholder {
  color: #ADADAD;
}

#newAddressModal input:-ms-input-placeholder, #newAddressModal select:-ms-input-placeholder, #newAddressModal textarea:-ms-input-placeholder {
  color: #ADADAD;
}

#newAddressModal input::-ms-input-placeholder, #newAddressModal select::-ms-input-placeholder, #newAddressModal textarea::-ms-input-placeholder {
  color: #ADADAD;
}

#newAddressModal input::placeholder, #newAddressModal select::placeholder, #newAddressModal textarea::placeholder {
  color: #ADADAD;
}

#newAddressModal input:hover, #newAddressModal input:focus, #newAddressModal select:hover, #newAddressModal select:focus, #newAddressModal textarea:hover, #newAddressModal textarea:focus {
  border: 1px solid #2A95DB;
}

#newAddressModal .left-col {
  padding-right: 6px;
}

#newAddressModal .center-col {
  padding-right: 6px;
  padding-left: 6px;
}

#newAddressModal .right-col {
  padding-left: 6px;
}

#allAddressesModal .modal-body {
  max-height: 464px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#allAddressesModal .modal-body::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

#allAddressesModal .address-div {
  margin-bottom: 16px;
  padding: 20px 20px 8px 40px;
  background: #ffffff;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#allAddressesModal .address-div .form-check-input {
  margin-right: 10px;
}

#allAddressesModal .address-div .name-add-div {
  margin-left: 4px;
  width: 70%;
}

#allAddressesModal .address-div .name-add-div p.name {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  color: #333333;
  text-transform: capitalize;
}

#allAddressesModal .address-div .name-add-div p.address {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #ADADAD;
}

#allAddressesModal .address-div .link-div {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #2A95DB;
}

#allAddressesModal .address-div .link-div a {
  color: #2A95DB;
}

#allAddressesModal .declineModalFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#allAddressesModal .declineModalFooter .add-address-link {
  font-size: 13px;
  font-weight: 500;
  color: #2A95DB;
}

#writeReviewModal .stars {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#writeReviewModal .stars:hover .star polygon {
  fill: #EDCD13 !important;
}

#writeReviewModal .stars .star polygon {
  fill: #d8d8d8;
}

#writeReviewModal .stars .star:hover ~ .star polygon {
  fill: #d8d8d8 !important;
}

#writeReviewModal .stars[data-stars] .star polygon {
  fill: #EDCD13;
}

#writeReviewModal .stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
  fill: #d8d8d8;
}

#writeReviewModal .stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
  fill: #d8d8d8;
}

#writeReviewModal .stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
  fill: #d8d8d8;
}

#writeReviewModal .stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
  fill: #d8d8d8;
}

#writeReviewModal .stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
  fill: #d8d8d8;
}

#writeReviewModal .overall-rating-div {
  padding-bottom: 40px;
  border-bottom: 1px solid #DEE2E6;
}

#writeReviewModal .overall-rating-div .overall-rating-label {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

#writeReviewModal .overall-rating-div .overall-rating svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 10px;
  margin-top: 10px;
}

#writeReviewModal .other-rating-div {
  padding: 40px 0;
  border-bottom: 1px solid #DEE2E6;
}

#writeReviewModal .other-rating-div .other-rating-label {
  margin: 0;
  margin-bottom: 14px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  color: #333333;
}

#writeReviewModal .review-div {
  padding-top: 40px;
}

#writeReviewModal .review-div label {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  color: #333333;
}

#writeReviewModal .review-div textarea {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}

#writeReviewModal .review-div textarea::-webkit-input-placeholder {
  color: #ADADAD;
}

#writeReviewModal .review-div textarea:-ms-input-placeholder {
  color: #ADADAD;
}

#writeReviewModal .review-div textarea::-ms-input-placeholder {
  color: #ADADAD;
}

#writeReviewModal .review-div textarea::placeholder {
  color: #ADADAD;
}

#writeReviewModal .review-div textarea:hover, #writeReviewModal .review-div textarea:focus {
  border: 1px solid #2A95DB;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#raiseIssueModal .modal-body {
  padding: 40px 0 40px 40px;
  max-height: 464px;
  overflow: scroll;
}

#raiseIssueModal .modal-body .step-img {
  margin-left: -15px;
  height: 30px;
}

#raiseIssueModal .modal-body .step-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#raiseIssueModal .modal-body .checkbox-alias {
  margin-right: 17px;
  margin-bottom: 22px;
  border: 1px solid #DEE2E6;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 56px;
  padding: 8px 20px;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
}

#raiseIssueModal .modal-body .checkbox-alias .border-icon {
  position: absolute;
  top: -12px;
  left: -11px;
  display: none;
}

#raiseIssueModal .modal-body .issue-alias {
  width: 155px;
}

#raiseIssueModal .modal-body .custom-checkbox-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#raiseIssueModal .modal-body .custom-checkbox-text .img {
  max-width: 32px;
  max-height: 32px;
  margin-right: 8px;
}

#raiseIssueModal .modal-body .custom-checkbox-text .text p {
  margin: 0;
}

#raiseIssueModal .modal-body .custom-checkbox-text .text .part-name {
  color: #333333;
}

#raiseIssueModal .modal-body .custom-checkbox-text .text .qty {
  color: #ADADAD;
}

#raiseIssueModal .modal-body .custom-checkbox-text .part-issue {
  font-size: 13.5px;
  color: #333333;
}

#raiseIssueModal .modal-body .step-checkbox input[type=checkbox] {
  display: none;
}

#raiseIssueModal .modal-body .step-checkbox input[type=checkbox]:checked + .checkbox-alias {
  border: 2px solid #2A95DB;
}

#raiseIssueModal .modal-body .step-checkbox input[type=checkbox]:checked + .checkbox-alias .border-icon {
  display: block;
}

#raiseIssueModal .modal-body .form-check label {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  color: #333333;
}

#raiseIssueModal .modal-body .quality-div {
  margin-right: 40px;
  margin-bottom: 24px;
  padding: 16px;
  background-color: #F4F6F8;
  height: auto;
}

#raiseIssueModal .modal-body .issue-text {
  margin-right: 40px;
  margin-bottom: 24px;
}

#raiseIssueModal .modal-body .issue-text textarea {
  font-size: 14px;
  color: #333333;
}

#raiseIssueModal .modal-body .issue-text textarea::-webkit-input-placeholder {
  color: #ADADAD;
}

#raiseIssueModal .modal-body .issue-text textarea:-ms-input-placeholder {
  color: #ADADAD;
}

#raiseIssueModal .modal-body .issue-text textarea::-ms-input-placeholder {
  color: #ADADAD;
}

#raiseIssueModal .modal-body .issue-text textarea::placeholder {
  color: #ADADAD;
}

#raiseIssueModal .modal-body .issue-text textarea:hover, #raiseIssueModal .modal-body .issue-text textarea:focus {
  border: 1px solid #2A95DB;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#raiseIssueModal .modal-body .attachment-link {
  font-size: 13px;
  font-weight: normal;
  color: #2A95DB;
}

#raiseIssueModal .modal-body .attachment-list {
  margin-top: 4px;
  list-style: none;
}

#raiseIssueModal .modal-body .attachment-list li {
  padding: 6px 9px;
  background: #F4F6F8;
  width: 280px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#raiseIssueModal .modal-body .attachment-list li .info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#raiseIssueModal .modal-body .attachment-list li .info-div img {
  max-width: 29px;
  max-height: 12px;
  margin-right: 8px;
}

#raiseIssueModal .modal-body .attachment-list li .info-div p {
  margin-top: -4px;
}

#raiseIssueModal .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#raiseIssueModal .modal-footer .contact-link {
  font-size: 13px;
  font-weight: 500;
  color: #ADADAD;
  text-decoration: underline;
}
/*# sourceMappingURL=consumer-modals.css.map */