@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap');

$main-color: #2A95DB;
$light-bg-color: #ffffff;
$light-bg-color-2: #F4F6F8;
$text-light: #ffffff;
$text-dark: #333333;
$text-medium: #6E6E6F;
$text-light-grey: #ADADAD;
$text-color: $main-color;
$text-red: #F1373A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}


// orders status 

@mixin statusPill{
    border-radius: 100px;
    padding: 3px 5px;
}
.awaiting-po-acceptance, .pending-for-quotation {
    @include statusPill;
    background: #FFF5C4;
    color: #DA920D !important;
}

.order-processing, .delivered {
    @include statusPill;
    background: #E6F4FD;
    color: #2B96DC;
}

.shipped, .under-review {
    @include statusPill;
    background: #F4F4F4;
    color: $text-light-grey;
}

.under-resolution, .declined, .unapproved {
    @include statusPill;
    background: #FFE1DF;
    color: #F1373A;
}