@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap');
$my-account-heading-color: #33334f;
$bg-color: #e5e5e5;

$main-color: #2a95db;
$light-bg-color: #ffffff;
$light-bg-color-2: #f4f6f8;
$text-light: #ffffff;
$text-dark: #333333;
$text-medium: #6e6e6f;
$text-light-grey: #adadad;
$text-color: $main-color;
$text-red: #f1373a;
$border: #dee2e6;
