@import 'DaInstaStyle';
@import 'variables';

// LOCAL MIXIN
@mixin heading {
	color: $title-color;
	font-size: 0.8em;
}

@mixin title {
	font-size: 0.6em;
	font-weight: 600;
}
@mixin subtitle {
	@include subtitleP;
	font-size: 0.6em;
	font-weight: 600;
}

// GLOBAL STYLE ZONE
.order-main-div {
	@include flex;
	h2 {
		@include heading();
	}

	label {
		@include label;
		@include noSpaceing;
		font-size: 0.7em;
		font-weight: 600;
	}

	input,
	select {
		@include input;

		font-size: 0.8em;
	}
	#input-div {
		width: 65%;
		margin-right: 10px;
	}
}

.order-left-div {
	height: 707px;
	@include whiteBox;
	padding: 20px;
	width: 60%;

	.billing-info-form {
		@include greyBox;
		padding: 20px;
		width: 100%;

		// DEFAULT STYLES

		.order-left-subdiv1 {
			@include flex();
			#input-email {
				width: 100%;
			}
		}

		.order-left-subdiv2 {
			@include flex();
			justify-content: start;
			.order-left-mobile-number {
				width: 43%;
			}
			#mobile-number {
				width: 40%;
			}
			.order-mode-of-communication {
				margin-left: 15px;
				display: flex;
				flex-direction: column;
				justify-content: start;
				height: 57px;

				margin-left: 10px;
				h2 {
					@include label;
					@include noSpaceing;
					margin-bottom: 6px;
					font-size: 0.7em;
				}
				.order-radio-div {
					@include flex();

					justify-content: start;
					div {
						margin-right: 10px;
					}
				}
			}
		}

		.order-left-subdiv3 {
			@include flex();
			#input-company-name {
				width: 100%;
				margin-right: 10px;
			}
		}

		.order-left-subdiv4 {
			h2 {
				@include heading();
				font-size: 0.7em;
			}

			.outer-div {
				@include whiteBox;
				padding: 10px;
				margin-bottom: 10px;

				#order-radio-div {
					#order-radio-label {
						@include title();
						font-size: 0.8em;
						color: black;
					}
					input {
						margin-left: 20px;
					}
					p {
						@include noSpaceing;
						@include subtitle();
					}
					.order-left-link-div {
						padding: 0px 10px 0px 0px;
						float: right;
						a {
							font-size: 0.6em;
						}
					}
				}
			}

			.order-address-list {
				@include whiteBox;
				@include flex;
				padding: 10px;
				font-size: 0.7em;
			}
		}
	}

	.order-left-div-footer {
		.outer-div {
			@include greyBox;
			padding: 20px;
			label {
				color: black;
				font-size: 0.8em;
			}
		}
	}
}

.order-right-div {
	width: 38%;
	.order-quote-summary {
		padding: 20px;
		@include shadowBox;
		h2 {
			@include heading();
		}

		.order-part {
			margin-bottom: 10px;
			@include whiteBox;
			padding: 15px;
			.order-part-title {
				margin-bottom: 10px;
				@include flex;
				align-items: end;
				img {
					background-color: #eff1f3;
					height: 32px;
					width: 32px;
				}
				p {
					@include noSpaceing;
					@include title();
				}
				div {
					margin-left: -150px;
					text-align: left;
					p {
						@include noSpaceing;
						@include subtitle();
					}

					.order-part-name {
						@include title();
						font-size: 0.8em;
						font-weight: 600;
					}
				}
			}
			.order-part-des {
				@include noSpaceing;
				@include subtitle();
			}
		}

		.leadtime {
			@include whiteBox;
			@include flex;
			padding: 15px;
			margin-bottom: 10px;
			div {
				p {
					@include noSpaceing;
					@include subtitle();
				}
				.leadtime-title {
					@include title();
					font-size: 0.7em;
					color: black;
				}
			}
			p {
				@include title();
			}
		}

		.subtotal {
			padding: 15px;
			div {
				@include flex;

				p {
					@include noSpaceing;
					@include title();
					margin-bottom: 10px;
				}
			}
		}

		.total {
			padding: 15px 15px 0px 15px;
			border-top: 0.5px solid #00000059;
			@include flex;
			p {
				@include noSpaceing;
				@include heading();
				font-size: 1.2em;
				font-weight: 600;
			}
		}
	}

	.outer-div-agreement {
		padding: 15px 0px 15px 0px;
		.custom-checkbox {
			input {
				padding: 20px 0px 0px 0px;
			}
		}
	}

	.order-saved-quote {
		@include title();
	}

	.order-submit-btn {
		@include colorBtn;
		width: 100%;
		padding: 7px;
		font-size: 0.9em;
		margin-bottom: 10px;
	}

	.order-right-footer-btn {
		@include flex;
		button {
			@include whiteBtn;
			font-weight: 600;
			font-size: 0.8em;
			width: 60%;
			margin-right: 10px;
			height: 40px;
		}
	}
}
