@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
.order-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-main-div h2 {
  color: #333333;
  font-size: 0.8em;
}

.order-main-div label {
  color: #333333;
  opacity: 0.7;
  margin: 0px;
  padding: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.order-main-div input,
.order-main-div select {
  background: #ffffff;
  border: 1px solid #eaedf0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 0.8em;
}

.order-main-div #input-div {
  width: 65%;
  margin-right: 10px;
}

.order-left-div {
  height: 707px;
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 20px;
  width: 60%;
}

.order-left-div .billing-info-form {
  background-color: #f8f9fa;
  padding: 20px;
  width: 100%;
}

.order-left-div .billing-info-form .order-left-subdiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-left-div .billing-info-form .order-left-subdiv1 #input-email {
  width: 100%;
}

.order-left-div .billing-info-form .order-left-subdiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.order-left-div .billing-info-form .order-left-subdiv2 .order-left-mobile-number {
  width: 43%;
}

.order-left-div .billing-info-form .order-left-subdiv2 #mobile-number {
  width: 40%;
}

.order-left-div .billing-info-form .order-left-subdiv2 .order-mode-of-communication {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 57px;
  margin-left: 10px;
}

.order-left-div .billing-info-form .order-left-subdiv2 .order-mode-of-communication h2 {
  color: #333333;
  opacity: 0.7;
  margin: 0px;
  padding: 0px;
  margin-bottom: 6px;
  font-size: 0.7em;
}

.order-left-div .billing-info-form .order-left-subdiv2 .order-mode-of-communication .order-radio-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.order-left-div .billing-info-form .order-left-subdiv2 .order-mode-of-communication .order-radio-div div {
  margin-right: 10px;
}

.order-left-div .billing-info-form .order-left-subdiv3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-left-div .billing-info-form .order-left-subdiv3 #input-company-name {
  width: 100%;
  margin-right: 10px;
}

.order-left-div .billing-info-form .order-left-subdiv4 h2 {
  color: #333333;
  font-size: 0.8em;
  font-size: 0.7em;
}

.order-left-div .billing-info-form .order-left-subdiv4 .outer-div {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.order-left-div .billing-info-form .order-left-subdiv4 .outer-div #order-radio-div #order-radio-label {
  font-size: 0.6em;
  font-weight: 600;
  font-size: 0.8em;
  color: black;
}

.order-left-div .billing-info-form .order-left-subdiv4 .outer-div #order-radio-div input {
  margin-left: 20px;
}

.order-left-div .billing-info-form .order-left-subdiv4 .outer-div #order-radio-div p {
  margin: 0px;
  padding: 0px;
  color: #33334f;
  opacity: 0.7;
  font-size: 0.6em;
  font-weight: 600;
}

.order-left-div .billing-info-form .order-left-subdiv4 .outer-div #order-radio-div .order-left-link-div {
  padding: 0px 10px 0px 0px;
  float: right;
}

.order-left-div .billing-info-form .order-left-subdiv4 .outer-div #order-radio-div .order-left-link-div a {
  font-size: 0.6em;
}

.order-left-div .billing-info-form .order-left-subdiv4 .order-address-list {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 0.7em;
}

.order-left-div .order-left-div-footer .outer-div {
  background-color: #f8f9fa;
  padding: 20px;
}

.order-left-div .order-left-div-footer .outer-div label {
  color: black;
  font-size: 0.8em;
}

.order-right-div {
  width: 38%;
}

.order-right-div .order-quote-summary {
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgba(226, 228, 232, 0.4);
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.order-right-div .order-quote-summary h2 {
  color: #333333;
  font-size: 0.8em;
}

.order-right-div .order-quote-summary .order-part {
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 15px;
}

.order-right-div .order-quote-summary .order-part .order-part-title {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.order-right-div .order-quote-summary .order-part .order-part-title img {
  background-color: #eff1f3;
  height: 32px;
  width: 32px;
}

.order-right-div .order-quote-summary .order-part .order-part-title p {
  margin: 0px;
  padding: 0px;
  font-size: 0.6em;
  font-weight: 600;
}

.order-right-div .order-quote-summary .order-part .order-part-title div {
  margin-left: -150px;
  text-align: left;
}

.order-right-div .order-quote-summary .order-part .order-part-title div p {
  margin: 0px;
  padding: 0px;
  color: #33334f;
  opacity: 0.7;
  font-size: 0.6em;
  font-weight: 600;
}

.order-right-div .order-quote-summary .order-part .order-part-title div .order-part-name {
  font-size: 0.6em;
  font-weight: 600;
  font-size: 0.8em;
  font-weight: 600;
}

.order-right-div .order-quote-summary .order-part .order-part-des {
  margin: 0px;
  padding: 0px;
  color: #33334f;
  opacity: 0.7;
  font-size: 0.6em;
  font-weight: 600;
}

.order-right-div .order-quote-summary .leadtime {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
}

.order-right-div .order-quote-summary .leadtime div p {
  margin: 0px;
  padding: 0px;
  color: #33334f;
  opacity: 0.7;
  font-size: 0.6em;
  font-weight: 600;
}

.order-right-div .order-quote-summary .leadtime div .leadtime-title {
  font-size: 0.6em;
  font-weight: 600;
  font-size: 0.7em;
  color: black;
}

.order-right-div .order-quote-summary .leadtime p {
  font-size: 0.6em;
  font-weight: 600;
}

.order-right-div .order-quote-summary .subtotal {
  padding: 15px;
}

.order-right-div .order-quote-summary .subtotal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-right-div .order-quote-summary .subtotal div p {
  margin: 0px;
  padding: 0px;
  font-size: 0.6em;
  font-weight: 600;
  margin-bottom: 10px;
}

.order-right-div .order-quote-summary .total {
  padding: 15px 15px 0px 15px;
  border-top: 0.5px solid #00000059;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-right-div .order-quote-summary .total p {
  margin: 0px;
  padding: 0px;
  color: #333333;
  font-size: 0.8em;
  font-size: 1.2em;
  font-weight: 600;
}

.order-right-div .outer-div-agreement {
  padding: 15px 0px 15px 0px;
}

.order-right-div .outer-div-agreement .custom-checkbox input {
  padding: 20px 0px 0px 0px;
}

.order-right-div .order-saved-quote {
  font-size: 0.6em;
  font-weight: 600;
}

.order-right-div .order-submit-btn {
  background: #2b96dc;
  border: 1px solid rgba(226, 228, 232, 0.4);
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100%;
  padding: 7px;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.order-right-div .order-right-footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-right-div .order-right-footer-btn button {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  color: #2b96dc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-weight: 600;
  font-size: 0.8em;
  width: 60%;
  margin-right: 10px;
  height: 40px;
}
/*# sourceMappingURL=OrderPay.css.map */