@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
.row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 252px;
  width: 65%;
  background: #f8f9fa;
  border: 1.5px dashed rgba(109, 109, 167, 0.3);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.select-file div p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  font-weight: 600;
  font-size: 1em;
  color: #333333;
  opacity: 0.7;
  margin-bottom: 5px;
}

.select-file div button {
  background-color: white;
  color: #2B96DC;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #dee2e6;
  width: 100%;
}

.select-file div button:focus {
  outline: none;
}

.total-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33%;
  margin-left: 2%;
}

.sub-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f9fa;
  border: 1px solid rgba(226, 228, 232, 0.4);
  border-radius: 4px;
  height: 40px;
}

.sub-total p {
  color: #555555;
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  font-size: 1.1em;
  font-weight: bold;
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.days div {
  height: 100px;
  width: 100px;
  padding: 15px;
  background: #ffffff;
  border: 1px solid rgba(226, 228, 232, 0.4);
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.days div .price {
  text-align: center;
  color: #555555;
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0px 16px 0px;
}

.days div .business-days {
  font-weight: bold;
  font-size: 0.5em;
}

.days div p {
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  text-align: center;
  font-size: 0.4em;
}

.proceed-to-checkout-btn {
  background-color: #2B96DC;
  color: #FFFFFF;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100%;
  font-size: 0.7em;
  height: 36px;
}

.proceed-to-checkout-btn:focus {
  outline: none;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-group button {
  background-color: white;
  color: #2B96DC;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  font-size: 0.6em;
  height: 28px;
  width: 100px;
}

.btn-group button:focus {
  outline: none;
}

.part {
  margin-top: 3%;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
}

.part .div2 {
  background: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.part .div2 label {
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  font-size: 0.9em;
  color: #555555;
  opacity: 0.7;
}

.part .div2 .left-div {
  width: 70%;
  padding: 20px 10px 10px 20px;
}

.part .div2 .right-div {
  width: 30%;
  padding: 16px 20px 20px 10px;
}

.part .div2 .right-div .textarea label {
  font-size: 0.7em;
}

.part .div2 .right-div .textarea textarea {
  height: 108px;
  border: 1px solid #eaedf0;
  font-size: 0.8em;
  opacity: 0.7;
}

.part .div2 .right-div a {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 10px;
}

.part .div2 .right-div ul {
  padding: 0px;
  margin: 0px;
}

.part .div2 .right-div ul li {
  background-color: white;
  color: black;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 69px;
  float: left;
  padding-left: 5px;
  font-weight: 600;
  opacity: 0.8;
  list-style: none;
  font-size: 0.5em;
  border: 1px solid #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.part .div2 .right-div ul li:focus {
  outline: none;
}

.part .div2 .right-div ul li button {
  background-color: white;
  color: black;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.part .div2 .right-div ul li button:focus {
  outline: none;
}

.part .div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.part .div1 .logo-div {
  padding: 10px;
  height: 64px;
  width: 64px;
  background: #ffffff;
  border: 1px solid rgba(226, 228, 232, 0.4);
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
}

.part .div1 .logo-div .logo {
  width: 30px;
  height: 30px;
  background-color: grey;
  margin: auto;
}

.part .div1 .logo-div a {
  font-size: 0.5em;
  text-align: center;
}

.part .div1 .title-div {
  margin-left: -180px;
}

.part .div1 .title-div h2 {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  color: #333333;
}

.part .div1 .title-div h2 a {
  color: #f0441e;
}

.part .div1 .title-div p {
  padding: 0px;
  margin: 0px;
  color: #333333;
}

.part .div1 .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
}

.part .div1 .form-group label {
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  font-size: 0.9em;
  color: #555555;
  opacity: 0.7;
}

.part .div1 .form-group input {
  width: 56px;
  height: 30px;
  margin-left: 10px;
}

.part .div1 .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  width: 200px;
}

.part .div1 .details a {
  color: #555555;
  opacity: 0.7;
}

.part .div1 .details p {
  color: #555555;
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  font-size: 1.1em;
  font-weight: bold;
}

.part .div1 .details button {
  background-color: transparent;
  color: #ffffff;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.part .div1 .details button:focus {
  outline: none;
}

.part .div1 .details button img {
  width: 4px;
}

.input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.input-div .form-group {
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
  font-weight: 600;
  width: 44%;
}

.input-div .form-group input {
  border: 1px solid #eaedf0;
}

.input-div .form-group select {
  border: 1px solid #eaedf0;
}

.input-div .middle {
  margin: 0% 2%;
  width: 28%;
  font-size: 0.8em;
  font-weight: 600;
}

.checkbox-text {
  display: inline;
  padding: 0px;
  margin: 0px;
  margin: 10px;
  font-size: 1em;
  color: #333333;
  font-size: 0.9em;
  font-weight: 600;
  opacity: 0.7;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer p {
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  opacity: 0.8;
  color: #6e6e6f;
}

.footer button {
  background-color: white;
  color: #2B96DC;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  font-size: 0.9em;
  width: 120px;
}

.footer button:focus {
  outline: none;
}

.footer .checkout {
  background-color: #2B96DC;
  color: white;
  border-style: none;
  padding: 4px;
  width: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 313px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.footer .checkout:focus {
  outline: none;
}
/*# sourceMappingURL=UploadRequirement.css.map */