@import "../../variables/variables.scss";

nav {
    background-color: $main-color;
    height: 56px;
    
    .navbar-brand {
        // width: 10px;
        position: absolute;

        img {
            margin-top: -10px;
            width: 100%;
        }
    }

    .navContainer {
        .navbar-collapse {
            background-color: $main-color;

            li {
                margin-right: 16px;
                a {
                    position: relative;
                    font-size: 14px;
                    color: $text-light;
                    img {
                        margin-right: 4px;
                    }

                    .badge {
                        position: absolute;
                        top: 0px;
                        right: -8px;
                        padding: 2px 4px;
                        border-radius: 25px;
                        background: #D62F2F;
                        color: white;
                      }
                }
            }
        }
    }
}


// mobile

@media only screen and (max-width: 700px) {
   .navbar-toggler-icon {
       padding-top: 5px;
       color: $text-light;
       font-size: 24px;
   }

   .navbar-toggler:hover {
       outline: none;
   }

  }