@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.awaiting-po-acceptance, .pending-for-quotation {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFF5C4;
  color: #DA920D !important;
}

.order-processing, .delivered {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #E6F4FD;
  color: #2B96DC;
}

.shipped, .under-review {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #F4F4F4;
  color: #ADADAD;
}

.under-resolution, .declined, .unapproved {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFE1DF;
  color: #F1373A;
}

.order-closed {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #D1F3CF;
  color: #3EB93B;
}

.head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
  text-transform: uppercase;
}

.return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.return a {
  color: #2A95DB;
}

small#error {
  color: #F1373A !important;
}

nav {
  background-color: #2A95DB;
  height: 56px;
}

nav .navbar-brand {
  position: absolute;
}

nav .navbar-brand img {
  margin-top: -10px;
  width: 100%;
}

nav .navContainer .navbar-collapse {
  background-color: #2A95DB;
}

nav .navContainer .navbar-collapse li {
  position: relative;
  margin-right: 16px;
}

nav .navContainer .navbar-collapse li a {
  position: relative;
  font-size: 14px;
  color: #ffffff;
}

nav .navContainer .navbar-collapse li a img {
  margin-right: 4px;
}

nav .navContainer .navbar-collapse li a .badge {
  position: absolute;
  top: 0px;
  right: -8px;
  padding: 2px 4px;
  border-radius: 25px;
  background: #D62F2F;
  color: white;
}

nav .navContainer .navbar-collapse li.active:after {
  border-left: 10px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  border-bottom: 13px solid #ffffff;
  position: absolute;
  bottom: -13px;
  width: 0px;
  left: 50%;
  margin-left: -10px;
}

.account-dropdown-menu {
  margin-top: 9px;
  margin-left: -202px;
  width: 320px;
  height: 278px;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
  text-align: center;
  padding-top: 32px;
}

.account-dropdown-menu img.profile-photo {
  margin-bottom: 4px;
  max-width: 64px;
  max-height: 64px;
}

.account-dropdown-menu h6.account-name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.account-dropdown-menu p.account-email {
  margin: 0 0 12px 0;
  font-size: 13px;
  font-weight: normal;
  color: #333333;
}

.account-dropdown-menu a.btn {
  margin-bottom: 12px;
  width: 240px;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  color: #2A95DB !important;
  border: 1px solid rgba(226, 228, 232, 0.4);
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
}

.message-dropdown-menu {
  margin-top: 9px;
  margin-left: -202px;
  padding: 0;
  width: 364px;
  height: 407px;
  max-width: 364px;
  max-height: 407px;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
}

.message-dropdown-menu .header-section {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F4F6F8;
  height: 40px;
}

.message-dropdown-menu .header-section .notification-header, .message-dropdown-menu .header-section .inbox-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
  cursor: pointer;
}

.message-dropdown-menu .header-section .active {
  color: #2A95DB;
}

.message-dropdown-menu .header-section .notification-header {
  border-right: 1px solid #DEE2E6;
}

.message-dropdown-menu .main-section {
  padding-top: 16px;
  height: 335px;
  max-height: 335px;
  overflow: scroll;
  background: #ffffff;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.message-dropdown-menu .main-section::-webkit-scrollbar {
  display: none;
}

.message-dropdown-menu .main-section .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 16px;
  margin-bottom: 12px;
  height: 65px;
  min-height: 65px;
  border-bottom: 1px solid #F4F6F8;
  cursor: pointer;
}

.message-dropdown-menu .main-section .notification .img {
  margin-right: 8px;
}

.message-dropdown-menu .main-section .notification .img img {
  max-width: 48px;
  max-height: 48px;
}

.message-dropdown-menu .main-section .notification .details p {
  margin: 0;
}

.message-dropdown-menu .main-section .notification .details .details-para, .message-dropdown-menu .main-section .notification .details .time-para {
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.message-dropdown-menu .main-section .notification .details .time-para {
  color: #ADADAD;
}

.footer-section {
  border-top: 1px solid #DEE2E6;
  height: 32px;
}

.footer-section a.settings-link {
  margin-left: 15px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
}

.message-box {
  padding: 0;
  position: fixed;
  -webkit-transform: none !important;
          transform: none !important;
  bottom: 40px !important;
  left: auto !important;
  right: 40px !important;
  width: 363px;
  height: 500px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  z-index: 5;
}

.message-box .messagebox-head {
  padding: 24px;
  height: 64px;
  background: #F4F6F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-box .messagebox-head .title-div {
  height: 19px;
}

.message-box .messagebox-head .title-div .head-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: #333333;
}

.message-box .messagebox-head .control-div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message-box .messagebox-head .control-div img {
  cursor: pointer;
}

.message-box .messagebox-head .control-div .minimize {
  margin-right: 30px;
}

.message-box .messagebox-main {
  position: relative;
  padding: 0 24px;
  height: 372px;
  overflow: scroll;
  background: #ffffff;
}

.message-box .messagebox-main::-webkit-scrollbar {
  width: 0 !important;
}

.message-box .messagebox-main .req-div {
  margin-left: 40px;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.message-box .messagebox-main .req-div .message-col p {
  margin: 0;
}

.message-box .messagebox-main .req-div .message-col .name, .message-box .messagebox-main .req-div .message-col .date-time {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  color: #ADADAD;
}

.message-box .messagebox-main .req-div .message-col .message-section {
  margin-bottom: 6px;
  padding: 12px;
  width: 240px;
  max-width: 240px;
  background: #F4F6F8;
  border-radius: 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.message-box .messagebox-main .req-div .message-col .file-section {
  margin-bottom: 6px;
  padding: 12px;
  width: 160px;
  max-width: 240px;
  background: #F4F6F8;
  border-radius: 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.message-box .messagebox-main .req-div .message-col .file-section .file {
  padding: 10px;
  background: #ffffff;
  width: auto;
  height: 36px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-box .messagebox-main .req-div .message-col .file-section .file a {
  color: #2A95DB;
}

.message-box .messagebox-main .req-div .message-col .file-section .file .name-link {
  max-width: 60%;
}

.message-box .messagebox-main .req-div .message-col .file-section .file .close-link {
  margin-left: 10px;
}

.message-box .messagebox-main .req-div .icon-div .name-initials {
  margin-top: 20px;
  margin-left: 8px;
  padding-top: 6px;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #ffffff;
  background: #00C389;
  border-radius: 25px;
}

.message-box .messagebox-main .res-div {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.message-box .messagebox-main .res-div .message-col p {
  margin: 0;
}

.message-box .messagebox-main .res-div .message-col .name, .message-box .messagebox-main .res-div .message-col .date-time {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  color: #ADADAD;
}

.message-box .messagebox-main .res-div .message-col .message-section {
  margin-bottom: 6px;
  padding: 12px;
  width: 240px;
  max-width: 240px;
  background: #F4F6F8;
  border-radius: 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.message-box .messagebox-main .res-div .message-col .file-section {
  margin-bottom: 6px;
  padding: 12px;
  width: 160px;
  max-width: 240px;
  background: #F4F6F8;
  border-radius: 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.message-box .messagebox-main .res-div .message-col .file-section .file {
  padding: 10px;
  background: #ffffff;
  width: auto;
  height: 36px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-box .messagebox-main .res-div .message-col .file-section .file a {
  color: #2A95DB;
}

.message-box .messagebox-main .res-div .message-col .file-section .file .name-link {
  max-width: 60%;
}

.message-box .messagebox-main .res-div .message-col .file-section .file .close-link {
  margin-left: 10px;
}

.message-box .messagebox-main .res-div .icon-div .name-initials {
  margin-top: 20px;
  margin-right: 8px;
  padding-top: 6px;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #ffffff;
  background: #2A95DB;
  border-radius: 25px;
}

.message-box .dropdown-divider {
  margin: 0;
}

.message-box .messagebox-input {
  padding: 16px 24px;
}

.message-box .messagebox-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-box .messagebox-input form #message {
  margin-right: 12px;
  width: 288px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
  resize: none;
}

.message-box .messagebox-input form #message::-webkit-scrollbar {
  width: 0 !important;
}

.message-box .messagebox-input form #message::-webkit-input-placeholder {
  color: #ADADAD;
}

.message-box .messagebox-input form #message:-ms-input-placeholder {
  color: #ADADAD;
}

.message-box .messagebox-input form #message::-ms-input-placeholder {
  color: #ADADAD;
}

.message-box .messagebox-input form #message::placeholder {
  color: #ADADAD;
}

.message-box .messagebox-input form #message:hover, .message-box .messagebox-input form #message:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.message-box .messagebox-input form .submit-btn {
  margin-right: 12px;
  padding: 0 !important;
  height: 21px;
  width: 21px;
  background: #ffffff;
}

.message-box .messagebox-input form .submit-btn:hover, .message-box .messagebox-input form .submit-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.message-box .messagebox-input form #attachment {
  width: 50px;
}

.message-box .messagebox-input form [type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.message-box .messagebox-input form [type="file"] + label {
  margin-left: 20px;
  width: 20px;
  height: auto;
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .navbar-toggler-icon {
    padding-top: 5px;
    color: #ffffff;
    font-size: 24px;
  }
  .navbar-toggler:hover {
    outline: none;
  }
}
/*# sourceMappingURL=supplier-navbar.css.map */