@import "../../variables/variables.scss";

nav {
    background-color: $main-color;
    height: 56px;
    
    .navbar-brand {
        // width: 10px;
        position: absolute;

        img {
            margin-top: -10px;
            width: 100%;
        }
    }

    .navContainer {
        .navbar-collapse {
            background-color: $main-color;

            li {
                position: relative;
                margin-right: 16px;
                a {
                    position: relative;
                    font-size: 14px;
                    color: $text-light;
                    img {
                        margin-right: 4px;
                    }

                    .badge {
                        position: absolute;
                        top: 0px;
                        right: -8px;
                        padding: 2px 4px;
                        border-radius: 25px;
                        background: #D62F2F;
                        color: white;
                      }
                }
            }

            li.active:after{
                border-left: 10px solid transparent;
                border-right: 11px solid transparent; content:"";
                border-bottom: 13px solid #ffffff;
                position: absolute;
                bottom: -13px;
                width: 0px;
                left: 50%;
                margin-left: -10px;
            }
        }
    }
}



// dropdown

.account-dropdown-menu {
    margin-top: 9px;
    margin-left: -202px;
    width: 320px;
    height: 278px;
    border: 1px solid $border;
    box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
    border-radius: 4px;
    text-align: center;
    padding-top: 32px;
    img.profile-photo {
        margin-bottom: 4px;
        max-width: 64px;
        max-height: 64px;
    }
    h6.account-name {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: $text-dark;
    }
    p.account-email {
        margin: 0 0 12px 0;
        font-size: 13px;
        font-weight: normal;
        color: $text-dark;
    }
    a.btn {
        margin-bottom: 12px;
        width: 240px;
        height: 40px;
        font-size: 13px;
        font-weight: 500;
        color: $main-color !important;
        border: 1px solid rgba(226, 228, 232, 0.4);
        box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
    }
}

.message-dropdown-menu {
    margin-top: 9px;
    margin-left: -202px;
    padding: 0;
    width: 364px;
    height: 407px;
    max-width: 364px;
    max-height: 407px;
    border: 1px solid $border;
    box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
    border-radius: 4px;

    .header-section {
        margin: 0;
        padding: 0;
        display: flex;
        background: $light-bg-color-2;
        height: 40px;
        .notification-header,  .inbox-header {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-weight: 500;
            color: $text-dark;
            cursor: pointer;
        }
        .active {
            color: $main-color;
        }
        .notification-header {
            border-right: 1px solid $border;
        }
    }
    // main content
    .main-section {
        padding-top: 16px;
        height: 335px;
        max-height: 335px;
        overflow: scroll;
        background: $light-bg-color;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
        &::-webkit-scrollbar {
            display: none;
        }
        
        .notification {
            display: flex;
            padding: 2px 16px;
            margin-bottom: 12px;
            height: 65px;
            min-height: 65px;
            border-bottom: 1px solid $light-bg-color-2;
            cursor: pointer;
            .img {
                margin-right: 8px;
                img {
                    max-width: 48px;
                    max-height: 48px;
                }
            }
            .details {
                p {
                    margin: 0;
                }
                .details-para {
                    margin-bottom: 2px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.3;
                    color: $text-dark;
                }
                .time-para {
                    @extend .details-para;
                    color: $text-light-grey;
                }
            }
        }

    }
}
// footer content
.footer-section {
    border-top: 1px solid $border;
    height: 32px;
    a.settings-link {
        margin-left: 15px;
    }
}



// loader 

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $light-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}



// message box 
.message-box {
    padding: 0;
    position: fixed;
    transform: none !important;
    // top: 177px !important;
    bottom: 40px !important;
    left: auto !important;
    right: 40px !important;
    width: 363px;
    height: 500px;
    background: $light-bg-color;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    z-index: 5;

    .messagebox-head {
        padding: 24px;
        height: 64px;
        background: $light-bg-color-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title-div {
            height: 19px;
            .head-title {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: $text-dark;
            }
        }
        .control-div {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            img {
                cursor: pointer;
            }
            .minimize {
                margin-right: 30px;
            }
        }
    }

    .messagebox-main {
        position: relative;
        padding: 0 24px;
        // min-height: 372px;
        // max-height: 372px;
        height: 372px;
        overflow: scroll;
        background: $light-bg-color;
        &::-webkit-scrollbar { width: 0 !important };

        .req-div {
            margin-left: 40px;
            margin-bottom: 38px;
            display: flex;
            float: right;
            .message-col {
                p {
                    margin: 0;
                }
                .name {
                    margin-left: 5px;
                    margin-bottom: 5px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.2;
                    color: $text-light-grey;
                }
                .message-section {
                    margin-bottom: 6px;
                    padding: 12px;
                    width: 240px;
                    max-width: 240px;
                    background: $light-bg-color-2;
                    border-radius: 8px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.3;
                    color: $text-dark;
                }
                .file-section {
                    margin-bottom: 6px;
                    padding: 12px;
                    width: 160px;
                    max-width: 240px;
                    background: $light-bg-color-2;
                    border-radius: 8px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.3;
                    color: $text-dark;

                    .file {
                        padding: 10px;
                        background: $light-bg-color;
                        width: auto;
                        height: 36px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        a {
                            color: $main-color;
                        }
                        .name-link {
                            max-width: 60%;
                        }
                        .close-link {
                            margin-left: 10px;
                        }
                    }
                }
                .date-time {
                    @extend .name;
                }
            }
            .icon-div {
                .name-initials {
                    margin-top: 20px;
                    margin-left: 8px;
                    padding-top: 6px;;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    color: $text-light;
                    background: #00C389;
                    border-radius: 25px;
                }
            }
        }

        .res-div {
            margin-bottom: 38px;
            display: flex;
            float: left;
            .message-col {
                p {
                    margin: 0;
                }
                .name {
                    margin-left: 5px;
                    margin-bottom: 5px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.2;
                    color: $text-light-grey;
                }
                .message-section {
                    margin-bottom: 6px;
                    padding: 12px;
                    width: 240px;
                    max-width: 240px;
                    background: $light-bg-color-2;
                    border-radius: 8px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.3;
                    color: $text-dark;
                }
                .file-section {
                    margin-bottom: 6px;
                    padding: 12px;
                    width: 160px;
                    max-width: 240px;
                    background: $light-bg-color-2;
                    border-radius: 8px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.3;
                    color: $text-dark;

                    .file {
                        padding: 10px;
                        background: $light-bg-color;
                        width: auto;
                        height: 36px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        a {
                            color: $main-color;
                        }
                        .name-link {
                            max-width: 60%;
                        }
                        .close-link {
                            margin-left: 10px;
                        }
                    }
                }
                .date-time {
                    @extend .name;
                }
            }
            .icon-div {
                .name-initials {
                    margin-top: 20px;
                    margin-right: 8px;
                    padding-top: 6px;;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    color: $text-light;
                    background: $main-color;
                    border-radius: 25px;
                }
            }
        }

    }

    .dropdown-divider {
        margin: 0;
    }
    .messagebox-input {
        padding: 16px 24px;
        form {
            display: flex;
            #message {
                margin-right: 12px;
                width: 288px;
                border: none;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.3;
                color: $text-dark;
                resize: none;
                &::-webkit-scrollbar { width: 0 !important };

                &::placeholder {
                    color: $text-light-grey;
                }

                &:hover, &:focus {
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }

            .submit-btn {
                margin-right: 12px;
                padding: 0 !important;
                height: 21px;
                width: 21px;
                background: $light-bg-color;
                &:hover, &:focus {
                    box-shadow: none;
                }
            }

            #attachment {
                width: 50px;
            }
            [type="file"] {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                overflow: hidden;
                padding: 0;
                position: absolute !important;
                white-space: nowrap;
                width: 1px;
              }
               
              [type="file"] + label {
                  margin-left: 20px;
                width: 20px;
                height: auto;
                background-color: $light-bg-color;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              
              }
        }
    }
}





// mobile

@media only screen and (max-width: 700px) {
   .navbar-toggler-icon {
       padding-top: 5px;
       color: $text-light;
       font-size: 24px;
   }

   .navbar-toggler:hover {
       outline: none;
   }

  }