@import "../../variables/variables.scss";

nav {
    background-color: $main-color;
    height: 56px;
    
    .navbar-brand {
        // width: 10px;
        position: absolute;

        img {
            margin-top: -10px;
            width: 100%;
        }
    }

    .navContainer {
        .navbar-collapse {
            background-color: $main-color;

            li {
                position: relative;
                margin-right: 16px;
                a {
                    position: relative;
                    font-size: 14px;
                    color: $text-light;
                    img {
                        margin-right: 4px;
                    }

                    .badge {
                        position: absolute;
                        top: 0px;
                        right: -8px;
                        padding: 2px 4px;
                        border-radius: 25px;
                        background: #D62F2F;
                        color: white;
                      }
                }
            }

            li.active:after{
                border-left: 10px solid transparent;
                border-right: 11px solid transparent; content:"";
                border-bottom: 13px solid #ffffff;
                position: absolute;
                bottom: -13px;
                width: 0px;
                left: 50%;
                margin-left: -10px;
            }
        }
    }
}



// dropdown

.account-dropdown-menu {
    margin-top: 9px;
    margin-left: -202px;
    width: 320px;
    height: 278px;
    border: 1px solid $border;
    box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
    border-radius: 4px;
    text-align: center;
    padding-top: 32px;
    img.profile-photo {
        margin-bottom: 4px;
        max-width: 64px;
        max-height: 64px;
    }
    h6.account-name {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: $text-dark;
    }
    p.account-email {
        margin: 0 0 12px 0;
        font-size: 13px;
        font-weight: normal;
        color: $text-dark;
    }
    a.btn {
        margin-bottom: 12px;
        width: 240px;
        height: 40px;
        font-size: 13px;
        font-weight: 500;
        color: $main-color !important;
        border: 1px solid rgba(226, 228, 232, 0.4);
        box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
    }
}

.message-dropdown-menu {
    margin-top: 9px;
    margin-left: -202px;
    padding: 0;
    width: 364px;
    height: 407px;
    max-width: 364px;
    max-height: 407px;
    border: 1px solid $border;
    box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
    border-radius: 4px;

    .header-section {
        margin: 0;
        padding: 0;
        display: flex;
        background: $light-bg-color-2;
        height: 40px;
        .notification-header,  .inbox-header {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-weight: 500;
            color: $text-dark;
        }
        .active {
            color: $main-color;
        }
        .notification-header {
            border-right: 1px solid $border;
        }
    }
    // main content
    .main-section {
        height: 335px;
        max-height: 335px;
        overflow: scroll;
        background: $light-bg-color;
    }
}
// footer content
.footer-section {
    border-top: 1px solid $border;
    height: 32px;
    a.settings-link {
        margin-left: 15px;
    }
}


// mobile

@media only screen and (max-width: 700px) {
   .navbar-toggler-icon {
       padding-top: 5px;
       color: $text-light;
       font-size: 24px;
   }

   .navbar-toggler:hover {
       outline: none;
   }

  }