@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

body {
  background: #2A95DB;
}

.auth-text-col {
  margin-top: 40px;
  margin-bottom: 40px;
}

.auth-text-col .text-col {
  margin-top: 20px;
}

.auth-text-col .text-col h2.auth-title {
  margin-top: 100px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
}

.auth-text-col .text-col p.auth-para {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.auth-text-col .text-col .auth-list {
  list-style: none;
}

.auth-text-col .text-col .auth-list li {
  margin: 20px 0;
  font-size: 14px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-text-col .text-col .auth-list li i {
  margin-right: 20px;
  font-size: 24px;
}

.form-col .supplier-registration-form {
  padding: 56px;
  background-color: #ffffff;
}

.form-col .supplier-registration-form h3.form-title {
  font-size: 20px;
  font-weight: bold;
}

.form-col .supplier-registration-form p.form-para {
  padding-bottom: 12px;
  font-size: 13px;
  line-height: 1.3;
  -webkit-columns: #333333;
          columns: #333333;
}

.form-col .supplier-registration-form .left-col {
  padding-right: 6px;
}

.form-col .supplier-registration-form .right-col {
  padding-left: 6px;
}

.form-col .supplier-registration-form .form-group {
  margin-bottom: 12px;
  padding: 1px 0;
}

.form-col .supplier-registration-form .form-group label {
  font-size: 13px;
  opacity: 0.7;
}

.form-col .supplier-registration-form .form-group input, .form-col .supplier-registration-form .form-group select {
  font-size: 13px;
  color: #333333;
  height: 36px;
}

.form-col .supplier-registration-form .form-group input::-webkit-input-placeholder, .form-col .supplier-registration-form .form-group select::-webkit-input-placeholder {
  color: #333333;
  opacity: 0.6;
}

.form-col .supplier-registration-form .form-group input:-ms-input-placeholder, .form-col .supplier-registration-form .form-group select:-ms-input-placeholder {
  color: #333333;
  opacity: 0.6;
}

.form-col .supplier-registration-form .form-group input::-ms-input-placeholder, .form-col .supplier-registration-form .form-group select::-ms-input-placeholder {
  color: #333333;
  opacity: 0.6;
}

.form-col .supplier-registration-form .form-group input::placeholder, .form-col .supplier-registration-form .form-group select::placeholder {
  color: #333333;
  opacity: 0.6;
}

.form-col .supplier-registration-form .form-group input:hover, .form-col .supplier-registration-form .form-group input:focus, .form-col .supplier-registration-form .form-group select:hover, .form-col .supplier-registration-form .form-group select:focus {
  border: 1px solid #2A95DB;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-col .supplier-registration-form .form-check {
  padding-top: 5px;
  padding-bottom: 10px;
}

.form-col .supplier-registration-form .form-check label {
  font-size: 14px;
  opacity: 0.6;
}

.form-col .supplier-registration-form .form-list {
  margin-bottom: 32px;
  list-style: none;
}

.form-col .supplier-registration-form .form-list li {
  margin-top: 5px;
  font-size: 12px;
  color: #333333;
  opacity: 0.6;
}

.form-col .supplier-registration-form .submit-btn-col .submitBtn {
  background: #2A95DB;
  border: none;
  width: 100%;
}

.form-col .supplier-registration-form .login-link {
  margin-top: 20px;
  font-size: 13px;
  color: #333333;
  text-align: center;
}

.form-col .supplier-registration-form .login-link a {
  color: #2A95DB;
}
/*# sourceMappingURL=supplier-password-setup.css.map */