@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.awaiting-po-acceptance, .pending-for-quotation {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFF5C4;
  color: #DA920D !important;
}

.order-processing, .delivered {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #E6F4FD;
  color: #2B96DC;
}

.shipped, .under-review {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #F4F4F4;
  color: #ADADAD;
}

.under-resolution, .declined, .unapproved {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #FFE1DF;
  color: #F1373A;
}

.order-closed {
  border-radius: 100px;
  padding: 3px 5px;
  width: auto;
  background: #D1F3CF;
  color: #3EB93B;
}

.head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
  text-transform: uppercase;
}

.return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.return a {
  color: #2A95DB;
}

body {
  background-color: #F4F6F8;
}

.header-section {
  background-color: #ffffff;
  padding-top: 24px;
  height: 96px;
}

.header-section .back-link {
  position: absolute;
  left: 4%;
}

.header-section .header-container .text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.header-section .header-container .text-col div {
  margin-right: 24px;
}

.header-section .header-container .text-col p.title {
  font-size: 11px;
  font-weight: normal;
  line-height: 1.3;
  color: #6E6E6F;
}

.header-section .header-container .text-col p.return-state {
  margin-top: -8px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #6E6E6F;
}

.header-section .header-container .btn-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-section .header-container .btn-col .btn {
  width: 140px;
  height: 36px;
  font-size: 14px;
  font-weight: normal;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
}

.header-section .header-container .btn-col .decline-btn {
  color: #F1373A;
  border: 1px solid #DEE2E6;
}

.header-section .header-container .btn-col .download-btn {
  color: #2A95DB;
  border: 1px solid #DEE2E6;
}

.header-section .header-container .btn-col .download-btn img {
  margin-right: 6px;
}

.header-section .header-container .btn-col .submit-btn, .header-section .header-container .btn-col .accept-btn {
  background-color: #00C389;
  color: #ffffff;
}

.header-section .header-container .btn-col .chat-btn {
  background-color: #2A95DB;
  color: #ffffff;
}

.header-section .header-container .btn-col .chat-btn img {
  margin-right: 5px;
}

.form-section {
  padding: 0 24px;
}

.form-section .form-container {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.form-section .form-container .form-accordion {
  margin: 17px 32px 32px 48px;
}

.form-section .form-container .form-accordion .card {
  border: none;
  border-bottom: 1px solid #F4F6F8;
  padding-top: 20px;
}

.form-section .form-container .form-accordion .card a {
  text-decoration: none;
}

.form-section .form-container .form-accordion .card .arrow {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 25px;
  right: 0;
}

.form-section .form-container .form-accordion .card .arrow-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-section .form-container .form-accordion .card .arrow-two, .form-section .form-container .form-accordion .card .arrow-four {
  margin-top: -10px;
}

.form-section .form-container .form-accordion .card .card-header {
  position: relative;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.form-section .form-container .form-accordion .card .card-header div.icon-div {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
  left: -50px;
  top: 0;
}

.form-section .form-container .form-accordion .card .card-header div.icon-div:after {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
  height: 80px;
  content: '';
  border-right: 2px solid #DEE2E6;
  top: 62%;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.form-section .form-container .form-accordion .card .card-header .active {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .active img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/profile-info/active-tab-icon.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .active:after {
  height: 500px !important;
}

.form-section .form-container .form-accordion .card .card-header .active-shipping {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .active-shipping img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/profile-info/active-tab-icon.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .active-shipping:after {
  height: 400px !important;
}

.form-section .form-container .form-accordion .card .card-header .done {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/profile-info/done-tab-icon.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done:after {
  border-right: 2px solid #00C389 !important;
  height: 500px !important;
}

.form-section .form-container .form-accordion .card .card-header .done-close {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-close img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/profile-info/done-tab-icon.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-close:after {
  border-right: 2px solid #00C389 !important;
  height: 80px !important;
}

.form-section .form-container .form-accordion .card .card-header .active-requirements {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .active-requirements img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/1.2-Green-Line.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .active-requirements:after {
  height: 500px !important;
}

.form-section .form-container .form-accordion .card .card-header .done-requirements {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-requirements img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/1.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-requirements:after {
  border-right: 2px solid #00C389 !important;
  height: 500px !important;
}

.form-section .form-container .form-accordion .card .card-header .done-close-requirements {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-close-requirements img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/1.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-close-requirements:after {
  border-right: 2px solid #00C389 !important;
  height: 80px !important;
}

.form-section .form-container .form-accordion .card .card-header .active-order-details {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .active-order-details img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/2.2-Green-Line.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .active-order-details:after {
  height: 380px !important;
}

.form-section .form-container .form-accordion .card .card-header .done-order-details {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-order-details img {
  z-index: 100;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/2.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-order-details:after {
  border-right: 2px solid #00C389 !important;
  height: 380px !important;
}

.form-section .form-container .form-accordion .card .card-header .done-close-order-details {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-close-order-details img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/2.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-close-order-details:after {
  border-right: 2px solid #00C389 !important;
  height: 80px !important;
}

.form-section .form-container .form-accordion .card .card-header .active-shipping {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .active-shipping img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/3.2-Green-Line.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .active-shipping:after {
  height: 400px !important;
}

.form-section .form-container .form-accordion .card .card-header .done-shipping {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-shipping img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/3.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-shipping:after {
  border-right: 2px solid #00C389 !important;
  height: 400px !important;
}

.form-section .form-container .form-accordion .card .card-header .done-close-shipping {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-close-shipping img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/3.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-close-shipping:after {
  border-right: 2px solid #00C389 !important;
  height: 80px !important;
}

.form-section .form-container .form-accordion .card .card-header .last-icon-div {
  position: absolute;
  left: -50px;
  top: 0;
}

.form-section .form-container .form-accordion .card .card-header .active-dp {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .active-dp img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/4.2-Green-Line.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-dp {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-dp img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/4.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header .done-close-dp {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-section .form-container .form-accordion .card .card-header .done-close-dp img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../../media/supplier/order-rfq/side-icons/4.3-Green-Solid.svg) no-repeat;
  width: 0px;
  /* Width of new image */
  height: 65px;
  /* Height of new image */
  padding-left: 63px;
  /* Equal to width of new image */
}

.form-section .form-container .form-accordion .card .card-header div.title {
  margin-right: 50px;
  width: 300px;
}

.form-section .form-container .form-accordion .card .card-header div.title h5.title {
  font-size: 18px;
  font-weight: medium;
  line-height: 1.2;
  color: #333333;
  cursor: pointer;
}

.form-section .form-container .form-accordion .card .card-header div.title p {
  margin-top: -5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .card .card-header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .card .card-header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.2;
  color: #6E6E6F;
  text-transform: uppercase;
}

.form-section .form-container .form-accordion .card .card-header ul li span {
  margin-top: 5px;
}

.form-section .form-container .form-accordion .card .card-header ul li a {
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .card .card-header .parts-list ul li {
  font-size: 13px;
  text-transform: capitalize;
  color: #333333;
}

.form-section .form-container .form-accordion .card .card-header .order-details-list ul li a span, .form-section .form-container .form-accordion .card .card-header .delivery-payment-list ul li a span {
  color: #2A95DB;
}

.form-section .form-container .form-accordion .card .card-body {
  padding-top: 0;
}

.form-section .form-container .form-accordion .requirements-card .card-body h5.product-name {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table thead tr th {
  background-color: #F4F6F8;
  font-size: 11px;
  font-weight: medium;
  line-height: 1.3;
  color: #6E6E6F;
  text-transform: uppercase;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr th.part-name-row {
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: none;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr th.part-name-row p.part-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr th.part-name-row p.part-name span.dimension {
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.attachment-row {
  width: 160px;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.attachment-row ul.requirement-attactments {
  margin-top: -8px;
  list-style: none;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.attachment-row ul.requirement-attactments li {
  margin: 10px 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.attachment-row ul.requirement-attactments li a {
  color: #2A95DB;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.description-row {
  width: 220px;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.description-row ul {
  margin-top: -8px;
  margin-left: 16px;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.description-row ul li {
  margin: 10px 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.notes-row {
  width: 240px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #333333;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.quantity-row {
  font-size: 15px;
  color: #333333;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.price-input-row {
  width: 120px;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.price-input-row input {
  height: 36px;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.price-input-row input:hover, .form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.price-input-row input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2A95DB;
}

.form-section .form-container .form-accordion .requirements-card .card-body table.table tbody tr td.amount-row {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .check-box-div p.check-box-para {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .check-box-div .checkbox-group {
  width: 350px;
  margin-top: -10px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .check-box-div .checkbox-group .form-check-label {
  font-size: 14px;
  font-weight: medium;
  line-height: 1.3px;
  color: #333333;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div {
  width: 500px;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div p.delivery-time-para {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .delivery-input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .delivery-input-div div.input-group {
  width: 160px;
  height: 36px;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .delivery-input-div div.input-group .input-group-prepend span {
  background-color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .delivery-input-div div.input-group input {
  max-width: 60px;
  font-size: 14px;
  color: #333333;
  height: 36px;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .delivery-input-div div.input-group input:hover, .form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .delivery-input-div div.input-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2A95DB;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div div.sub-total-amount-div {
  padding: 0 8px;
  padding-top: 6px;
  width: 260px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F4F6F8;
  border-radius: 4px;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .submit-btn-div {
  margin-top: 20px;
  float: right;
}

.form-section .form-container .form-accordion .requirements-card .card-body .extra-info .delivery-time-div .submit-btn-div button {
  width: 225px;
  height: 36px;
  background-color: #00C389;
  color: #ffffff;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
  border-radius: 4px;
}

.form-section .form-container .form-accordion .order-details-card .card-body .under-review-div {
  padding: 16px 16px 8px 16px;
  background-color: #F4F6F8;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
}

.form-section .form-container .form-accordion .order-details-card .card-body .under-review-div h5.under-review-title {
  font-size: 16px;
  font-weight: medium;
  line-height: 1.2;
  color: #333333;
}

.form-section .form-container .form-accordion .order-details-card .card-body .under-review-div p.under-review-para {
  margin-top: -5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .order-details-card .quote-accepted-div {
  padding: 16px 16px 8px 16px;
  background-color: #FFF5C4;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .order-details-card .quote-accepted-div .text-col h5 {
  font-size: 16px;
  font-weight: medium;
  line-height: 1.2;
  color: #333333;
}

.form-section .form-container .form-accordion .order-details-card .quote-accepted-div .text-col p {
  margin-top: -5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .order-details-card .quote-accepted-div .btn-col {
  padding-top: 8px;
}

.form-section .form-container .form-accordion .order-details-card .quote-accepted-div .btn-col .download-btn-two {
  margin-right: 10px;
  width: 160px;
  height: 36px;
  font-size: 14px;
  color: #2A95DB;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
}

.form-section .form-container .form-accordion .order-details-card .quote-accepted-div .btn-col .download-btn-two img {
  margin-right: 6px;
}

.form-section .form-container .form-accordion .order-details-card .quote-accepted-div .btn-col .accept-btn-two {
  width: 160px;
  height: 36px;
  background-color: #00C389;
  font-size: 14px;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-section .form-container .form-accordion .order-details-card .order-details-div {
  padding: 16px 16px 8px 16px;
  background-color: #ffffff;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .order-details-card .order-details-div .address-div {
  max-width: 200px;
}

.form-section .form-container .form-accordion .order-details-card .order-details-div .head {
  font-size: 11px;
  font-weight: normal;
  line-height: 1.6;
  color: #6E6E6F;
  text-transform: uppercase;
}

.form-section .form-container .form-accordion .order-details-card .order-details-div .return {
  margin-top: -14px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.form-section .form-container .form-accordion .order-details-card .order-details-div .return a {
  color: #2A95DB;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div {
  padding: 16px 16px 16px 16px;
  background: #ffffff;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form .form-group {
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form label {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form input, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form select {
  height: 36px;
  font-size: 14px;
  color: #333333;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form input::-webkit-input-placeholder, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form select::-webkit-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form input:-ms-input-placeholder, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form select:-ms-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form input::-ms-input-placeholder, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form select::-ms-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form input::placeholder, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form select::placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form input:hover, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form input:focus, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form select:hover, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2A95DB;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .shipping-details form.form .addBtn {
  margin-left: 5px;
  margin-top: 28px;
  width: 100px;
  height: 36px;
  background-color: #2A95DB;
  font-size: 15px;
  color: #ffffff;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details .document-details-div {
  padding-left: 20px;
  border-left: 1px solid #DEE2E6;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details p.document-head {
  font-size: 16px;
  font-weight: medium;
  line-height: 1.3;
  color: #333333;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form {
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group label {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group input {
  height: 36px;
  font-size: 14px;
  color: #333333;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group input::-webkit-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group input:-ms-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group input::-ms-input-placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group input::placeholder {
  color: #ADADAD;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group input:hover, .form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2A95DB;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details form.document-form .add-doc-btn {
  margin-left: 5px;
  margin-top: 28px;
  width: 100px;
  height: 36px;
  background-color: #2A95DB;
  font-size: 15px;
  color: #ffffff;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details .doc {
  height: 35px;
  padding: 8px 8px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F4F6F8;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #333333;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-input-div .row .document-details .doc a {
  color: #2A95DB;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div {
  padding: 16px 16px 16px 16px;
  background: #ffffff;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .details-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .details-col .head {
  font-size: 11px;
  font-weight: normal;
  line-height: 1.6;
  color: #6E6E6F;
  text-transform: uppercase;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .details-col .return {
  margin-top: -16px;
  font-size: 13px;
  line-height: 1.4;
  color: #333333;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .details-col .track-order-btn {
  margin-right: 10px;
  width: 160px;
  height: 36px;
  font-size: 14px;
  color: #2A95DB;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
          box-shadow: 0px 8px 16px rgba(30, 52, 92, 0.1);
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .document-col .document-div {
  padding-left: 20px;
  border-left: 1px solid #DEE2E6;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .document-col .document-div .document-head {
  font-size: 16px;
  font-weight: medium;
  line-height: 1.4;
  color: #333333;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .document-col .document-div .doc {
  height: 35px;
  margin-top: -12px;
  padding: 8px 8px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F4F6F8;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  color: #333333;
}

.form-section .form-container .form-accordion .shipping-card .card-body .shipping-details-div .row .document-col .document-div .doc a {
  color: #2A95DB;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .awaiting-confirmation-div {
  padding: 16px 16px 8px 16px;
  background: #ffffff;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .awaiting-confirmation-div .delivered-date-div {
  width: 130px;
  max-width: 130px;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .awaiting-confirmation-div .delivered-date-div .date-head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .awaiting-confirmation-div .delivered-date-div .date-return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .awaiting-confirmation-div .status-div .status-head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .awaiting-confirmation-div .status-div .status-return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .under-resolution-div {
  padding: 16px 16px 8px 16px;
  background: #FFEEED;
  border: 1px solid #F1373A;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .under-resolution-div .delivered-date-div {
  width: 130px;
  max-width: 130px;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .under-resolution-div .delivered-date-div .date-head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .under-resolution-div .delivered-date-div .date-return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .under-resolution-div .status-div .status-head {
  font-size: 11px;
  font-weight: medium;
  line-height: 1.6;
  color: #6E6E6F;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .under-resolution-div .status-div .status-return {
  margin-top: -12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .under-resolution-div .status-div .status-return a {
  color: #2A95DB;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div {
  padding: 16px 16px 8px 16px;
  background: #ffffff;
  border: 1px solid #DEE2E6;
  border-radius: 3px;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .delivery-details-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .delivery-details-col div {
  margin-right: 20px;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .customer-rating-col .customer-feedback-div {
  border-left: 1px solid #DEE2E6;
  padding-left: 32px;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .customer-rating-col .customer-feedback-div .feedback-title {
  font-weight: 16px;
  font-weight: medium;
  line-height: 1.2;
  color: #333333;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .customer-rating-col .customer-feedback-div .star-div {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .customer-rating-col .customer-feedback-div .star-div div {
  margin-right: 24px;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .customer-rating-col .customer-feedback-div .note-div {
  margin-top: 8px;
}

.form-section .form-container .form-accordion .delivery-payment-card .card-body .payment-process-div .row .customer-rating-col .customer-feedback-div .note-div p.note-return {
  max-width: 400px;
}
/*# sourceMappingURL=submit-rfq.css.map */